@font-face {
  font-family: 'Gothic Ultra';
  src: url('fonts/gothic_ultra_ot.otf');
}

body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

h1 {
  font-family: 'Gothic Ultra';
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 55px;
}

p {
  font-family: 'Gothic Ultra';
  text-align: justify;
  font-size: 19px;
}

img {
  width: 94%;
  margin-left: 3%;
  margin-bottom: 10px;
}

.subtitle {
  font-family: 'Gothic Ultra';
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

.footnote {
  text-decoration: none;
  color: #111;
  font-size: 14px;
}

#signup-notice {
  display: block;
  width: 210px;
  height: 100%;
  background-color: #efdabe;
  color: #222; 
  margin-left: 800px;
  text-align: center;
  font-size: 23px;
  padding-left: 8px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 25px;
  border: 1px solid #eeefff;
}

#signup-notice.affix {
  position: fixed;
  height: 100%;
  /*width: 200px;*/
}

#signup-notice.affix-top {
  position: fixed;
  height: 100%;
  /*width: 200px;*/
}

#signup-notice-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 2px;
  width: 100%;
  background-color: #efdabe;
  color: #222;
  text-align: center;
  font-size: 23px;
  clear: both;
}

#conclusion a {
  color: #000;
  text-decoration: none;
}

.divider {
  width: 100%;
  border-top: 2px solid #222;
}

.well {
  padding-top: 0px;
  padding-bottom: 2px;
  line-height: 1.8em;
  margin-top: 20px;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
    visibility: hidden;
  }
}
